{% extends '::base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row"><center><h1>Paiement</h1></center></div>
    <div class="row">

        <div class="col-lg-offset-3 col-lg-5 ">
            <h3>Montant total à payer : {{ tarifTotalBillet }} €</h3> <br/>
            {{ form_start(formPaiement) }}
            {{ form_row(formPaiement.numCarte) }} <br/>
            {{ form_row(formPaiement.moisExp) }} <br/>
            {{ form_row(formPaiement.anneeExp) }} <br/>
            {{ form_row(formPaiement.cvc) }} <br/>
            {{ form_row(formPaiement.payer) }} <br/>
            {{ form_end(formPaiement) }}
        </div>
    </div>
</div>
{% endblock %}
